@page
@model JekirdekCRM.WEBUI.Pages.Customer.AddCustomerModel
@{
    ViewData["Title"] = "Müşteri";
    ViewBag.Header = "Müşteri Oluştur";
}

<div class="card">
    <div class="card-body">
        <form method="post" class="row g-3">
            <div class="col-md-6">
                <label for="FirstName" class="form-label">Ad</label>
                <input asp-for="Customer.FirstName" class="form-control" placeholder="Müşteri adı giriniz" />
            </div>
            <div class="col-md-6">
                <label for="LastName" class="form-label">Soyisim</label>
                <input asp-for="Customer.LastName" class="form-control" placeholder="Müşteri soyadı giriniz" />
            </div>

            <div class="col-md-6">
                <label for="Email" class="form-label">Email</label>
                <input asp-for="Customer.Email" type="email" class="form-control" placeholder="Mail adresi giriniz" />
            </div>

            <div class="col-md-6">
                <label for="Region" class="form-label">Bölge</label>
                <input asp-for="Customer.Region"  class="form-control" placeholder="Bölge giriniz" />
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Kaydet</button>
                <a href="/Customer/Index/" class="btn btn-secondary ms-2">İptal</a>
            </div>
        </form>
    </div>
</div>